apiVersion: v1
kind: Service
metadata:
  name: {{ template "common.names.fullname" . }}-backend
  labels:
    {{- include "common.labels.standard" . | indent 4 }}
    app.kubernetes.io/component: backend
spec:
  ports:
    - port: 80
      targetPort: 8080
  selector:
    {{- include "common.labels.standard" . | indent 4 }}
    app.kubernetes.io/component: backend
